@font-face {
  font-family: "Pokemon_Hollow";
  src: local("Pokemon_Hollow"), url("./assets/fonts/Pokemon_Hollow.ttf") format("truetype");
}

@font-face {
  font-family: "Pokemon_Solid";
  src: local("Pokemon_Solid"), url("./assets/fonts/Pokemon_Solid.ttf") format("truetype");
}

:root {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;

}

body {
  font-size: 1.6rem;
  background: var(--yellow);
  text-align: center;
}

p {
  color: var(--text);
}

h1 {
  font-family: "Pokemon_Solid", sans-serif;
  font-size: 5rem;
  color: var(--blue);
  letter-spacing: 0.5rem;
  text-align: center;
  line-height: 7.4rem;
}

button {
  background: none;
  border: 1px solid var(--text);
  border-radius: 5px;
  padding: 8px;
  font-size: 2rem;
  transition: all .3s;
  margin: 4px;
  cursor: pointer;

  &:hover {
    color: var(--white);
  }

  &:disabled {
    opacity: 1;
    color: var(--text);
    cursor: default;
  }
}

.btn-text {
  border: 1px solid transparent;
  color: var(--white);

  &:hover {
    border: 1px solid var(--white);
  }

  &:disabled {
    // opacity: .7;
    color: var(--white);
    cursor: default;

    &:hover {
      border: 1px solid transparent;
    }
  }
}